.workspace-page {
  padding: 5px;
}

.page-header {
  margin-bottom: 10px;
}

.page-header h1 {
  font-size: 38px;
  font-weight: 700;
  color: #0F172A;
  margin-bottom: 0px;
}

.page-header p {
  color: #64748B;
  font-size: 15px;
}

.workspace-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
  gap: 24px;
}

.workspace-card {
  background: #FFFFFF;
  border: 1px solid #E2E8F0;
  border-radius: 20px;

  padding: 24px;

  display: flex;
  align-items: center;
  gap: 18px;

  text-decoration: none;
  color: inherit;

  cursor: pointer;

  transition: all .25s ease;
}

.workspace-card:hover {
  transform: translateY(-6px);

  border-color: #4F46E5;

  box-shadow:
    0 12px 30px rgba(79,70,229,.12);
}

.card-icon {
  width: 64px;
  height: 64px;

  border-radius: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}

.card-icon i {
  font-size: 28px;
}

.users {
  background: rgba(79,70,229,.12);
  color: #4F46E5;
}

.roles {
  background: rgba(16,185,129,.12);
  color: #10B981;
}

.permissions {
  background: rgba(245,158,11,.12);
  color: #F59E0B;
}

.card-content {
  flex: 1;
}

.card-content h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 6px;
  color: #0F172A;
}

.card-content p {
  color: #64748B;
  font-size: 14px;
}

.card-arrow {
  font-size: 18px;
  color: #94A3B8;
}

.workspace-card:hover .card-arrow {
  color: #4F46E5;
}