<header class="app-header">
  <div class="header-left">
    <button class="btn-toggle" (click)="toggle.emit()">
      <i class="fa-solid fa-bars"></i>
    </button>

    <div class="brand">
      <div class="brand-icon">
        <i class="fa-solid fa-cube"></i>
      </div>

      <div class="brand-info">
        <h3>SmartERP</h3>
        <span>Enterprise Suite</span>
      </div>
    </div>
  </div>

  <div class="header-right">

    <button class="icon-btn" (click)="onThemeToggle()">
      <i class="fa-solid" [ngClass]="isDark ? 'fa-sun' : 'fa-moon'"></i>
    </button>

    <a routerLink="/dashboard" class="nav-btn">
      <i class="fa-solid fa-chart-column"></i>
      Dashboard
    </a>

    <a routerLink="/login" class="logout-btn">
      <i class="fa-solid fa-right-from-bracket"></i>
      Logout
    </a>

  </div>
</header>